<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {{#unless currentUser}}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/register">Regrister</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log-in</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Locals
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/locals">All Locals</a></li>
            <li><a class="dropdown-item" href="/locals/create">Create new local</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/events">All Events</a></li>
            <li><a class="dropdown-item" href="/events/create">Create new event</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">log out</a>
        </li>
        {{/unless}}
      </ul>
    </div>
  </div>
</nav>