
.profile{
    display: flex;
}
.img-avatar{
    border-color: black;
}

.avatar-profile{
    margin-top: 55px;
}

.data-profile{
    text-align: center;
}

.h3-profile{
    font-family: Raleway;
    margin-top: 20px;
}


.event-like{
    margin-top: 66px;
    border-radius: 35px;
    background-color: #F5F5F5;
    width: 930px;
    height: 100%;
    margin-left: 44px;
}

.h2-profile{
    font-family: Raleway; 
    text-align: center;
    margin-top: 10px;
}


.card-profile-user {
    display: flex;
    
}

.card-img-profile{
    min-height: 120px;
}

.card-profile{
    padding: 20px;
    width: 330px;
}

.card-profile .card-img-top {
    height: 55%; /* Establece una altura fija para las imágenes */
    width: 100%; /* Asegura que la imagen llene todo el espacio disponible */
    object-fit: cover; /* Escala y recorta la imagen para ajustarla a la altura fija */
  }