


body, html {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Raleway;
}


.logo{
  position: relative;
  padding: 20px;
  background-image: url(../img/logo-1.png);
  height: 132px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center calc(100% - -5px);
}


.avatar-container {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 1041px;
}
.avatar-img {
  width: 40px; /* Ajusta el tamaño según tu diseño */
  height: 40px; /* Ajusta el tamaño según tu diseño */
  border-radius: 50%; /* Para crear una imagen redonda */
  object-fit: cover;
}

.navbar-brand{
  width: 60px;
  height: 60px;
}

.custom-navbar{
  background-color: #31c7a7;
}

.a-color{
  color: white !important;
}

.a-color:hover{
  color: black !important;
}

.dropdown-menu{
  background-color: #31c7a7 !important;
}




.h1-home{
  text-align: center;
  color: white;
  padding-top: 48px;
}
.h4-home{
  text-align: center;
  color: white;
  padding-top: 10px;

}
.h6-home{
  text-align: center;
  color: white;
  padding-top: 10px;
}

.btn-resgister {
  margin-left: 570px;
  margin-top: 30px;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  text-align: center;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
 }
 
 .btn-resgister:active,
 .btn-resgister:hover {
  outline: 0;
 }
 
 button span {
  background-color: #31c7a7;
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
 }
 
 button:hover span {
  background: none;
 }
 
 button:active {
  transform: scale(0.9);
 }

 button span a {
  text-decoration: none;
  color: white;
  font-family: Phantomsans, sans-serif;
 }

 .h6-home a{
  text-decoration: none;
  color: white;
  font-family: Phantomsans, sans-serif;

 }
 .h6-home a:hover{
  color: #6600FF;
 }


.home-container {
  font-family: raleway;
  position: relative;
  height: 100%;
  background-color: #0000009c;;
  border-radius: 30px;
  margin: 0 auto;
  
}

.img-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-image: url('../img/fondo-2.png');
  background-size: cover;

}







  .btn-primary{
    background-color: #364F6B !important;
  }



  


.card {
    display: flex !important;
    padding: 20px;
    width: 330px;
    min-height: 370px;
    border-radius: 20px;
    background: #e8e8e8;
    box-shadow: 5px 5px 6px #dadada,
                 -5px -5px 6px #f6f6f6;
    transition: 0.4s;
  }
  
  .card:hover {
    translate: 0 -10px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #2e54a7;
    margin: 15px 0 0 10px;
  }
  
  .card-image {
    min-height: 170px;
    background-color: #c9c9c9;
    border-radius: 15px;
    box-shadow: inset 8px 8px 10px #c3c3c3,
              inset -8px -8px 10px #cfcfcf;
  }
  
  .card-body {
    margin: 13px 0 0 10px;
    color: rgb(31, 31, 31);
    font-size: 15px;
  }
  
  .footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #636363;
  }
  
  .by-name {
    font-weight: 700;
  }


  /*starts*/
  
  .rating {
    display: inline-block;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 30px;
  }
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: #6f00ff;
    transition: color 0.3s;
  }
  

  /* card de event */

  .post-card {
    width: 320px;
    background: lightgrey;
    background-color: rgb(63, 193, 201);
    border: 1px solid rgb(84 90 106);
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
  
  .avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: linear-gradient(to top left, #364F6B,rgb(245, 245, 245));
  }
  
  .title2 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    transition: all .35s ease-in;
  }
  
  .title:hover {
    text-decoration: underline blueviolet;
  }
  
  .datetime {
    font-size: 12px;
    color: rgb(245, 245, 245);
    margin: 10px 0;
  }
  
  .image-preview {
    flex: 1;
    min-height: 150px;
    width: 100%;
    border-radius: 20px;
    background-color: blueviolet;
    background-image: linear-gradient(to top left, blueviolet,rgb(73, 31, 112));
    margin-bottom: 4px;
  }
  
  .comment-like {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px 0;
  }
  
  .comment-like span {
    cursor: pointer;
    height: 40px;
    width: 50px;
    padding: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    border-radius: 10px;
    background-color: transparent;
    transition: all .15s ease;
  }
  
  .comment-like span:hover {
    background-color: rgba(137, 43, 226, 0.096);
  }
  
  .comment-like span svg {
    fill: rgb(255, 255, 255);
    margin-right: 2px;
  }