
    <div class="home-container">
        <div class="logo"></div>
        <h1 class="h1-home">Attract new customers <br> to your business. <br> Do you want to know <br> what business is near you? </h1>
        <h4 class="h4-home"> <strong> Do you want to increase your visibility, income and optimize <br> your business? </strong></h4>
        <h6 class="h6-home"> <strong> Get started - is free! </strong></h6>
        <button class="btn-resgister">
            <span class="text"><a href="/register"> Register </a> </span> 
        </button>
        <h6 class="h6-home"> <strong> Already have an account?  </strong> <a href="/login"> <strong> log in </strong></a></h6>
        <div class="img-home"></div>
    </div>

    