{{> navbar}}

<div class="container">

    <div class="profile">

        <div class="avatar-profile">

            
                <img width="280" height="280" class="border border-dark  border-2 rounded-circle p-1 rounded-circle  img-avatar" src="{{user.avatar}}" alt=""
                    referrerpolicy="no-referrer">
            
                <h3 class="h3-profile"> <strong> Hola </strong> {{user.username}} </h3>
                <h3 class="h3-profile">Usuario creado el: {{formattedCreatedAt}}</h3>
                   

            </div>

        <div class="event-like">
            <h2 class="h2-profile">Populars events</h2>
        </div>
    </div>
</div>